*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chat-section{
    background-color: #d7c7f446;
    height: 100vh;
    position: relative;
}

.welcome{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
}

.bot-ai-heading{
    padding: 0.5rem;
    color: #9785BA;
}

.welcome-child > img{
    width: 8rem;
    height: 8rem;
}

.welcome-questions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    .welcome-questions{
        grid-template-columns: 1fr;
    }
}

.question{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
}

.question:hover{
    background-color: rgb(221, 221, 221);
}

.input-section{
    position: absolute;
    width: 100%;
    bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
}

.input-section > input{
    flex: 1;
    padding: 1rem;
    outline: none;
}

.input-section > button{
    background-color: #bda9e9;
    padding: 1rem;
    outline: none;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.input-section > button:hover{
    background-color: #9c8bc0;
}

@media screen and (max-width: 768px) {
    .question-3{
        display: none;
    }
}

.current-chats{
    height: 82%;
    overflow-y: auto;
    padding: 1rem;
}

.chat{
    text-align: start;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #a896ce;
    padding: 0.5rem;
}

.chat > img{
    width: 3rem;
    height: 3rem;
}

.msg{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.msg > span{
    padding: 0.2rem;
}

.prev-chat-wrapper{
    height: 80%;
    overflow-y: scroll;
}

.prev-chat-wrapper{
    background-color: #a896ce;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}